
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
  background-color: #f9b3e0;
}

.seat-layout {
  display: grid;
  grid-template-columns: repeat(7, 50px); /* 7 seats per row */
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.seat {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

.available {
  background-color: #00bfff;
}

.booked {
  background-color: #00ff40;
}
.book-btn {
  background-color: #f01193;
  color: aliceblue;
  margin: 20px;
}
